@import './Global';

.knockout,
.knockoutCondensed {
  font-style: normal;
  font-weight: 400;
}

.knockout {
  font-family: var(--knockout);
}

.knockoutCondensed {
  font-family: var(--knockoutCondensed);
}

.app {
  display: grid;
  grid-template-columns: 250px 250px 1fr;
  height: 100vh;
  width: 100vw;

  @media (max-width: 1300px) {
    grid-template: 1fr 1fr / 225px 1fr;
  }

  @media (max-width: 1080px) {
    grid-template: 225px 1fr / 225px 1fr;
  }

  @media (max-width: 500px) {
    grid-template: 170px 1fr 250px / 1fr;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);

  @media (max-width: 1300px) {
    grid-row: 1;
  }
}

.logo {
  @extend .knockoutCondensed;
  line-height: 0.67;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 0;
  color: #fff;

  @media (max-width: 1080px) {
    font-size: 3rem;
  }
}

.nav {
  background-color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  @media (max-width: 1080px) {
    align-items: flex-start;
    padding: 0 2rem;
  }

  @media (max-width: 500px) {
    align-items: center;
  }

  & .navLink {
    @extend .knockout;
    color: var(--purple);
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
    font-size: 1rem;
    letter-spacing: 3px;
    transition: transform 0.3s ease-out;

    @media (max-width: 500px) {
      text-align: center;
    }

    &:hover,
    &:active,
    &:focus {
      transform: translateX(5px);

      @media (max-width: 500px) {
        transform: none;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (max-width: 1080px) {
    grid-column: 2;
  }

  @media (max-width: 500px) {
    grid-column: 1;
    grid-row: 3;
  }
}

.about {
  padding: 6rem 4rem;
  background-color: var(--light-purple);
  color: var(--purple);
  display: flex;
  align-items: center;

  @media (max-width: 1300px) {
    grid-row: 1 / span 2;
  }

  @media (max-width: 1080px) {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  @media (max-width: 500px) {
    padding: 3rem 2rem;
    grid-column: 1;
  }
}

.aboutHeader {
  @extend .knockout;
  font-size: 2rem;
  margin-bottom: 1.6rem;
  letter-spacing: 3px;
  line-height: 1;

  @media (max-width: 500px) {
    font-size: 1.5rem;
    margin-bottom: 1.1rem;
  }
}

.aboutText {
  font-size: 1.618rem;
  line-height: 1.75;
  max-width: 57rem;

  @media (max-width: 1300px) {
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.aboutLink {
  @extend .knockout;
  font-size: 1rem;
  margin-top: 1.6rem;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  transition: transform 0.3s ease-out;

  & + .aboutLink {
    margin-left: 20px;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.aisling {
  border-top: 6px solid #4a3137;
  background-color: #f9b8cc;
  width: 100vw;
  min-height: 100vh;
  font-size: 13px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Courier, monospace;
  text-align: left;
  line-height: 1.75;
  flex-direction: column;
  padding: 50px;
  color: #4a3137;

  h1 {
    margin-bottom: 12px;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
  }

  .mistyBtn {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
    padding: 5px 20px;
    top: 3px;
    outline: none;

    svg {
      width: 24px;
      height: 24px;
      fill: #4a3137;
    }
  }

  .credits {
    font-size: 10px;
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #4a3137;
  }
}

@-webkit-keyframes heartUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(10deg);
    transform: translate3d(0, 0, 0) rotate(10deg);
  }

  50% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }

  90% {
    opacity: 0;
    -webkit-transform: translate3d(0, -35vh, 0) scale(1.2) rotate(-10deg);
    transform: translate3d(0, -35vh, 0) scale(1.2) rotate(-10deg);
  }

  100% {
    opacity: 0;
  }
}

@keyframes heartUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(10deg);
    transform: translate3d(0, 0, 0) rotate(10deg);
  }

  50% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }

  90% {
    opacity: 0;
    -webkit-transform: translate3d(0, -35vh, 0) scale(1.2) rotate(-10deg);
    transform: translate3d(0, -35vh, 0) scale(1.2) rotate(-10deg);
  }

  100% {
    opacity: 0;
  }
}

.resume {
  color: var(--purple);
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 300px 1fr;

  h1,
  h2,
  h3,
  h4 {
    @extend .knockout;
  }

  @media (max-width: 1300px) {
    grid-template-columns: 300px 1fr;
  }

  @media (max-width: 1080px) {
    grid-template-columns: 300px 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  @media (max-width: 1300px) {
    grid-row: 1 / span 2;
  }

  @media (max-width: 1080px) {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  @media (max-width: 768px) {
    padding: 3rem 2rem;
    grid-column: 1;
  }

  .resumeHeader {
    @extend .knockout;
    font-size: 3rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    padding: 40px;
  }

  .resumeSidebar {
    grid-column: 1;
    grid-row: 2;
    padding: 80px 40px 40px 40px;
    line-height: 1.3;

    @media (max-width: 768px) {
      grid-column: 1;
      grid-row: 3;
    }
  }

  .resumeContact {
    @extend .knockout;
  }

  .resumeContact,
  .resumeSkills {
    padding: 30px 0;
    border-bottom: 2px solid var(--purple);
  }

  .resumeSkills,
  .resumeEducation {
    h2 {
      padding-bottom: 30px;
    }

    h3 {
      font-size: 1rem;
    }
  }

  .resumeSkill {
    margin-bottom: 30px;
  }

  .resumeEducation {
    padding-top: 30px;
  }

  .resumeExperience {
    grid-column: 2;
    grid-row: 2;
    padding: 0 40px 40px 40px;

    @media (max-width: 768px) {
      grid-column: 1;
      grid-row: 2;
    }
  }
}
