@import './Variables';

:global {
  html {
    box-sizing: border-box;
    font-family: var(--chronicle);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1;
    font-size: 100%;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
    background-color: var(--light-purple);
  }

  a {
    color: var(--purple);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
