:root {
  --purple: #240f3a;
  --light-purple: #f9f5fd;
  --chronicle: "Chronicle Display A", "Chronicle Display B";
  --knockout: "Knockout 34 A", "Knockout 34 B";
  --knockoutCondensed: "Knockout 28 A", "Knockout 28 B";
}
